---
import BaseLayout from '../layouts/BaseLayout.astro';
import Analytics from '../components/Analytics.astro';

import ContactCTA from '../components/ContactCTA.astro';
import ResumeCTA from '../components/ResumeCTA.astro';
import Hero from '../components/Hero.astro';
---
<head>
	<meta charset="UTF-8">
	<Analytics />
  </head>

<BaseLayout title="Yoni Mahieddine" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Me"
				tagline="Thank you for visiting! Take a moment to find out more about me and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.jpg"
					alt="Yoni"
				/>
			</Hero>

			<section>
				<h2 class="section-title">My Background</h2>
				<div class="content">
					<p>
						After getting my <strong>French baccalauréat</strong> with <strong>honours</strong> in <strong>mathematics</strong> and <strong>economics</strong>, 
						I enrolled in the <strong>computer science</strong> degree programme at <strong>University Claude Bernard Lyon 1.</strong>
					</p>
					<br>
					<p>
						I decided to specialise in <strong>DATA</strong> from my second year because of my strong interest in <strong>Business Intelligence</strong> 
						and the match between my skills and what is required in this field. 
						By specialising in this domain, I have been able to combine my passion for <strong>IT</strong> with my ability to analyse and manage <strong>complex data.</strong>
					</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">My Passions</h2>
				<div class="content">
					<p>
						<strong>Travelling</strong> is a real hobby for me. I love discovering new cultures, meeting different people and learning from their stories. 
						Every trip is an adventure that improves my view of the world and gives me a better understanding of how it works. 
					</p>
					<br>
					<p>
						As well as travelling, I'm passionate about <strong>thrill-seeking activities.</strong> I love adrenalin and challenges, 
						and I'm always on the lookout for new and exciting experiences. This desire for adventure is reflected 
						in my desire to  <strong>push back my limits</strong> and live every moment to the full.
					</p>
					<br>
					<p>
						Finally, <strong>science</strong>, particularly <strong>space</strong>, has always been a source of fascination for me. 
						Exploring the universe and the mysteries of space stimulate my <strong>curiosity</strong> and my desire to understand the unknown.	
					</p>
				</div>
			</section>

		</main>

		<ResumeCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
