---
import { getCollection } from 'astro:content';
import Analytics from '../components/Analytics.astro';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projets = (await getCollection('Projects')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---
<head>
	<meta charset="UTF-8">
	<Analytics />
  </head>
<BaseLayout
	title="Yoni Mahieddine - Projects"
	description="Projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="A few recent projects"

				tagline="Find out more about my latest projects."
				align="start"
			/>
			<Grid variant="offset">
				{
					projets.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
